.headnav {
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 100%;
    padding-bottom: 3.3%;
    box-shadow: 5px 5px 8px grey;
}

.menuholder {
    padding: 1%;
}

.list-group,
.list-group-flush .t1 {
    text-align: left;
}

.subnav {
    background-image: linear-gradient(to right, #2886ca, #024198);
    background-color: #0977c6;
    width: 100%;
    object-fit: cover;
}

.droptarget {
    min-height: 40px;
    /* background-color: #17f702; */
    width: 350px;
    height: 70px;
    padding: 10px;
    /* border: 1px solid #aaaaaa; */
}

.list-group {
    padding: 8%;
}

p {
    margin: 0%;
}

img {
    max-width: 100%;
    max-height: 100%;
}


body {
    margin: 0%;
}

.bdsub {
    background-color: #f1f1f2;
    height: 70px;
    width: 100%;
    padding-bottom: 39%;
}

.dropdownAnchor {

    position: relative;

    display: inline-block;

}

.noclick {
    pointer-events: none;
}

.dropbtn {

    border: none;

}



/* Dropdown Content (Hidden by Default) */

.dropdown-content {

    display: none;

    position: absolute;

    background-color: #f1f1f1;

    min-width: 160px;

    max-width: 700px;
    max-height: 450px;
    overflow: auto;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    z-index: 1;

}


/* Links inside the dropdown */

.dropdown-content a {

    color: black;

    padding: 12px 16px;

    text-decoration: none;

    display: block;

}



/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}



/* Show the dropdown menu on hover */

.dropdownAnchor:hover .dropdown-content {
    display: block;
}